/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
/* Style du conteneur */
.dropdown {
  position: relative;
  display: inline-block;
}
/*--------BOUTONS Catégories-------------------*/

.boutons {
  display: flex;
  justify-content: center;
  border: solid 1px #1d6154;
  color: white;
  border-radius: 60px;
  color: #3d3d3d;
}
.boutons :hover {
  background-color: #1d6154;
  color: white;
}
#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}
/*----PAGE LOG IN___-------------------------------------------_*/
h2 {
  display: flex;
  justify-content: center;
}
.login-container {
  margin-left: 280px;
  max-width: 500px;
  padding: 20px;
  background-color: #fffef8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login h2 {
  display: flex;
  justify-content: center;
}
.login footer {
  margin-top: 664px;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333333;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  outline: none;
}

.login-form input:focus {
  border-color: #7ca08b;
}
.footerLogin {
  margin-top: 250px;
}
/*button */
.submit {
  background-color: #305d48;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28493b;
}
*/ .forgot-password {
  text-align: center;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
/*---Mod EDITION etBouton Modifier----*/
/*Barre Edition*/
.edit-mode-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
/*Bouton modifier*/
.edit-button {
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 20px;
  margin-top: 10px;
}
#logout {
  cursor: pointer;
}

/* Styles de la modale-------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  align-items: center;
  justify-content: center;
  /*z-index: 1000;*/
}
/* Contenu de la modale */
.modal-content {
  position: relative; /* Nécessaire pour positionner la croix */
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 630px;
  margin: 23%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*--ESSAIS----Ajouts pour le formulaire--------*/

/*---Fin essai------------*/
/* Titre de la modale */
#modal h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Galerie d'images dans la modale */
#modal .thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

/* Style des images */
#modal .thumbnail-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
}
/* Bouton pour ajouter une photo */
#modal .add-photo-button {
  display: inline-block;
  background-color: #008080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

#modal .add-photo-button:hover {
  background-color: #005757;
}

.close-button {
  position: absolute;
  top: 1px; /* Ajuste cette valeur selon le padding */
  right: 5px; /* Ajuste cette valeur selon le padding */
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  z-index: 10; /*La croix est au dessus du conteneur*/
}
/*AJOUT A TESTER


/* Images dans la galerie */
.thumbnail-gallery img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

/* Bouton corbeille (icône) */
.thumbnail-gallery img::after {
  content: "";
  position: absolute;
  top: 8px; /* Ajuste l'espacement en haut */
  right: 8px; /* Ajuste l'espacement à droite */
  width: 24px; /* Taille de l'icône */
  height: 24px;
  background: url("<i class=fa-solid fa-trash></i>");
  background-size: contain;
  z-index: 2; /* Assure que la corbeille est au-dessus de l'image */
  cursor: pointer;
  pointer-events: none; /* Permet au clic de passer à l'image */
}
.thumbnail-gallery img {
  position: relative;
  cursor: pointer;
}
/*----Formulaire de la modale pour ajout de photos--------*/

/*Projet    fourni----------Ne pas modifier--------*/
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
